*.deps
*.la
*.lo
*.log
*.o
*.so
*.swp
.*.sw?
.sw?
*.tar.xz
*.trs
*~
.dirstamp
/aclocal.m4
/autom4te.cache
/build-aux/
/config.h
/config.h.in
/config.log
/config.status
/configure
/oring-cal
/stamp-h1
Makefile
Makefile.in
TAGS
protocol/*.[ch]
